<h1>Abuela Sorda</h1>

<h3>Di Algo Abuela:</h3>
<form action="/send-form" method="get">
  <input type="text" name="frase">
  <input type="submit" name="" value="Dilo!">

<h1><%= @resp %></h1>
</form>
